@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
body, p, li {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

a:visited, a:active, a:link {
  text-decoration: none;
  color: black;
}

@keyframes loading {
  85% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes rotate-primary {
  0% {
    transform: rotateX(30deg) rotateY(-50deg) rotateZ(0deg);
    -webkit-transform: rotateX(30deg) rotateY(-50deg) rotateZ(0deg);
    -moz-transform: rotateX(30deg) rotateY(-50deg) rotateZ(0deg);
    -ms-transform: rotateX(30deg) rotateY(-50deg) rotateZ(0deg);
    -o-transform: rotateX(30deg) rotateY(-50deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(30deg) rotateY(-50deg) rotateZ(360deg);
    -webkit-transform: rotateX(30deg) rotateY(-50deg) rotateZ(360deg);
    -moz-transform: rotateX(30deg) rotateY(-50deg) rotateZ(360deg);
    -ms-transform: rotateX(30deg) rotateY(-50deg) rotateZ(360deg);
    -o-transform: rotateX(30deg) rotateY(-50deg) rotateZ(360deg);
  }
}
@keyframes rotate-secondary {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-tertiary {
  0% {
    transform: rotateX(30deg) rotateY(50deg) rotateZ(0deg);
    -webkit-transform: rotateX(30deg) rotateY(50deg) rotateZ(0deg);
    -moz-transform: rotateX(30deg) rotateY(50deg) rotateZ(0deg);
    -ms-transform: rotateX(30deg) rotateY(50deg) rotateZ(0deg);
    -o-transform: rotateX(30deg) rotateY(50deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(30deg) rotateY(50deg) rotateZ(360deg);
    -webkit-transform: rotateX(30deg) rotateY(50deg) rotateZ(360deg);
    -moz-transform: rotateX(30deg) rotateY(50deg) rotateZ(360deg);
    -ms-transform: rotateX(30deg) rotateY(50deg) rotateZ(360deg);
    -o-transform: rotateX(30deg) rotateY(50deg) rotateZ(360deg);
  }
}
@keyframes appear {
  from {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    opacity: 1;
  }
}
@keyframes gradient {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("../Vendors/Fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../Vendors/Fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Roboto";
  src: url("../Vendors/Fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../Vendors/Fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../Vendors/Fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../Vendors/Fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Shrikhand";
  src: url("../Vendors/Fonts/Shrikhand/Shrikhand-Regular.ttf");
}
.wrapper {
  background-color: #f6f6f6ec;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loading 2s;
  animation-fill-mode: forwards;
  visibility: visible;
}

.loader {
  position: absolute;
  top: calc(50% - 74px);
  left: calc(50% - 64px);
  width: 128px;
  height: 128px;
}

.arc {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.arc.one {
  left: 0;
  top: 0;
  animation: rotate-primary 1s linear infinite;
  border-bottom: 8px solid #9356DC;
  -webkit-animation: rotate-primary 1s linear infinite;
}

.arc.two {
  right: 0;
  top: 0;
  animation: rotate-secondary 1s linear infinite;
  border-right: 8px solid #FF79DA;
  -webkit-animation: rotate-secondary 1s linear infinite;
}

.arc.three {
  right: 0;
  bottom: 0;
  animation: rotate-tertiary 1s linear infinite;
  border-top: 8px solid #99E2D0;
  -webkit-animation: rotate-tertiary 1s linear infinite;
}

.loading {
  color: black;
  font-size: 24px;
  position: absolute;
  top: calc(50% + 94px);
  letter-spacing: 0.5rem;
}

.header {
  height: 63px;
  padding-top: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-size: 1.9rem;
  position: relative;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .header {
    width: 1024px;
    margin: 0 auto;
  }
}
.header .fas {
  font-size: 1.2rem;
  line-height: 63px;
  position: absolute;
  top: 0;
  left: 1.4rem;
}

footer {
  background-color: #373737;
  height: 200px;
  color: white;
  padding: 1.5rem 1.5rem;
  line-height: 1.6rem;
}
@media screen and (min-width: 1024px) {
  footer {
    width: 1024px;
    margin: 0 auto;
    padding: 1.5rem 90px;
  }
}
footer .logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 1rem;
  margin-bottom: 0.9rem;
}
footer .fas {
  font-size: 0.8rem;
  width: 1rem;
  margin-right: 0.5rem;
}
footer .contact a {
  font-style: normal;
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  align-self: flex-start;
}

.maxshadow {
  max-width: 1024px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.59);
  box-shadow: 0px 0px 22px -2px rgba(0, 0, 0, 0.59);
}

/* ========================================================================== */
/* Localisation */
/* ========================================================================== */
.localization {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #e7e7e7;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.358) inset;
}
@media screen and (min-width: 1024px) {
  .localization {
    width: 1024px;
    margin: 0 auto;
  }
}
.localization--gps {
  position: relative;
  left: -1.2rem;
}

/* ========================================================================== */
/* Réservez le menu qui vous convient */
/* ========================================================================== */
.reserve {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: stretch;
  background-color: #f6f6f6;
}
@media screen and (min-width: 1024px) {
  .reserve {
    width: 1024px;
    margin: 0 auto;
  }
}
.reserve h2 {
  text-align: center;
  width: 300px;
  margin: 2.3rem auto 0.8rem auto;
}
@media screen and (min-width: 599px) {
  .reserve h2 {
    width: 100%;
  }
}
.reserve p {
  font-weight: 300;
  font-size: 1.1rem;
  text-align: center;
  color: #777777;
}
.reserve--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 20px -5px #909090;
}
.reserve--btn--explorer {
  border-radius: 30px;
  width: 220px;
  height: 50px;
  background-image: linear-gradient(-5deg, #9356DC 30%, #9356DC 0%, #FF79DA);
  color: white;
  margin-top: 2rem;
  margin-bottom: 3.3rem;
}
.reserve--btn:hover {
  box-shadow: 0px 3px 20px -5px #444444;
  background-image: linear-gradient(-5deg, #a16be0 30%, #a16be0 0%, #ff93e1);
}

/* ========================================================================== */
/* Fonctionnement */
/* ========================================================================== */
.functioning {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 4.3rem;
  gap: 1.6rem;
}
@media screen and (min-width: 1024px) {
  .functioning {
    width: 1024px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 599px) {
  .functioning {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.functioning--title {
  overflow: hidden;
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: left;
  margin-bottom: 0.2rem;
}
.functioning--items {
  margin-left: 12px;
  width: 325px;
  height: 72px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 20px -5px #c3c3c3;
  border-radius: 1.5rem;
  font-size: 1rem;
  position: relative;
}
@media screen and (max-width: 374px) {
  .functioning--items {
    width: 280px;
  }
}
@media screen and (min-width: 599px) {
  .functioning--items {
    width: 240px;
  }
}
@media screen and (min-width: 808px) {
  .functioning--items {
    margin-left: 0;
  }
}
.functioning--items--icon {
  position: absolute;
  left: 2.5rem;
  color: #5d5d5d;
}
@media screen and (min-width: 599px) {
  .functioning--items--icon {
    left: 1rem;
  }
}
.functioning--items p {
  position: absolute;
  left: 5rem;
}
@media screen and (min-width: 599px) {
  .functioning--items p {
    left: 3rem;
  }
}
.functioning--items .number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 50%;
  left: -12px;
  color: white;
}
@media screen and (min-width: 599px) {
  .functioning--items .number {
    top: -12px;
    left: 108px;
  }
}
.functioning .functioning--items:hover {
  background-color: #f2eafb;
}
.functioning .functioning--items:hover .fas {
  color: #9356DC;
}

/* ========================================================================== */
/* Restaurants */
/* ========================================================================== */
.restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-top: 3.2rem;
  padding-bottom: 4rem;
}
@media screen and (min-width: 1024px) {
  .restaurants {
    width: 1024px;
    margin: 0 auto;
  }
}
.restaurants :nth-child(3) img {
  position: absolute;
  bottom: -15px;
}
.restaurants--title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  justify-content: left;
}

.hide {
  visibility: hidden;
}

.restaurants--card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 20px -5px #d0d0d0;
  flex-direction: column;
  width: 335px;
  height: 250px;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
}
@media screen and (max-width: 374px) {
  .restaurants--card {
    width: 290px;
  }
}
@media screen and (min-width: 928px) {
  .restaurants--card {
    width: 420px;
    height: calc(420px/1.33);
  }
}
.restaurants--card img {
  position: absolute;
  bottom: 75px;
}
.restaurants--card--new {
  position: absolute;
  display: inline;
  background-color: #99E2D0;
  padding: 0.4rem 0.7rem;
  right: 0.8rem;
  top: 0.8rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #278870;
  border-radius: 0.1rem;
}
.restaurants--card--title {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: 1rem 1rem;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}
.restaurants--card--title--nameloca h3 {
  font-weight: 700;
  font-size: 1.1rem;
}
.restaurants--card--title--nameloca h4 {
  margin-top: 0.2rem;
  font-weight: 300;
  font-size: 1rem;
}
.restaurants--card--title--heart {
  margin-top: 1rem;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0rem;
  right: 0.1rem;
}
.restaurants--card--title--heart .fas {
  opacity: 1;
  background-color: transparent;
  transform: scaleX(0.9);
  font-size: 1.5rem;
  -webkit-text-stroke: 0.05rem black;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transform: scaleX(0.9);
  -moz-transform: scaleX(0.9);
  -ms-transform: scaleX(0.9);
  -o-transform: scaleX(0.9);
}
.restaurants--card--title--heart .fas:hover {
  background: linear-gradient(180deg, #9356DC, #FF79DA) 0% 50%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 0 black;
  color: transparent;
  animation-fill-mode: forwards;
  animation: gradient 0.5s;
  -webkit-animation: gradient 0.5s;
}

.restaurants--card:hover {
  box-shadow: 0px 3px 20px -5px #aaaaaa;
}

/* ========================================================================== */
/* Page de menu */
/* ========================================================================== */
/* -------------------------------------------------------------------------- */
/* boucle pour background */
/* -------------------------------------------------------------------------- */
.photo--palette {
  height: 270px;
  background-size: 110%;
  background-image: url("../Images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.photo--note {
  height: 270px;
  background-size: 110%;
  background-image: url("../Images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position: 0;
}
.photo--francaise {
  height: 270px;
  background-size: 110%;
  background-image: url("../Images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.photo--delice {
  height: 270px;
  background-size: 110%;
  background-image: url("../Images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.photo {
  background-position: center;
  position: relative;
}
.photo--header {
  height: 50px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  -webkit-border-radius: 40px 40px 0 0;
  -moz-border-radius: 40px 40px 0 0;
  -ms-border-radius: 40px 40px 0 0;
  -o-border-radius: 40px 40px 0 0;
  position: relative;
  bottom: 50px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  background-color: #f6f6f6;
  padding: 0 3vw;
  margin-top: -3.9rem;
  /* ========================================================================== */
  /* boucle pour apparition des items du menu */
  /* ========================================================================== */
}
.menu > a {
  align-self: center;
}
.menu--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 20px -5px #909090;
}
.menu--btn--explorer {
  border-radius: 30px;
  width: 190px;
  height: 50px;
  background-image: linear-gradient(-5deg, #9356DC 30%, #9356DC 0%, #FF79DA);
  color: white;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.menu--btn:hover {
  box-shadow: 0px 3px 20px -5px #444444;
  background-image: linear-gradient(-5deg, #a16be0 30%, #a16be0 0%, #ff93e1);
}
.menu--name {
  width: 100%;
  display: flex;
  padding: 0 0.6rem;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .menu--name {
    max-width: 961px;
    align-self: center;
  }
}
.menu--name h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  margin-left: 0;
  margin-top: -0.45rem;
}
@media screen and (max-width: 374px) {
  .menu--name h2 {
    font-size: 1.5rem;
  }
}
.menu--name--heart {
  margin-top: -0.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0rem;
  right: 0.1rem;
}
.menu--name--heart .fas {
  opacity: 1;
  background-color: transparent;
  transform: scaleX(0.9);
  font-size: 1.5rem;
  -webkit-text-stroke: 0.05rem black;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transform: scaleX(0.9);
  -moz-transform: scaleX(0.9);
  -ms-transform: scaleX(0.9);
  -o-transform: scaleX(0.9);
}
.menu--name--heart .fas:hover {
  background: linear-gradient(180deg, #9356DC, #FF79DA) 0% 50%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 0 black;
  color: transparent;
  animation-fill-mode: forwards;
  animation: gradient 0.5s;
  -webkit-animation: gradient 0.5s;
}
.menu--card {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 20px -5px #d0d0d0;
  position: relative;
  justify-content: space-between;
  height: 69px;
  width: 94vw;
  margin-top: 0.8rem;
  background-color: white;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  overflow: hidden;
}
@media screen and (max-width: 374px) {
  .menu--card {
    width: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .menu--card {
    max-width: 961px;
    align-self: center;
  }
}
.menu--card--title {
  width: 75%;
  margin-left: 0.8rem;
  line-height: 1.5rem;
  transition: width 0.8s;
}
.menu--card--title--bold {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
  font-weight: 500;
}
.menu--card--title--light {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
}
.menu--card--price {
  align-self: flex-end;
  position: absolute;
  font-weight: 500;
  right: 1.2rem;
  margin-bottom: 0.7rem;
  transition: transform 0.8s;
  -webkit-transition: transform 0.8s;
  -moz-transition: transform 0.8s;
  -ms-transition: transform 0.8s;
  -o-transition: transform 0.8s;
}
.menu--card--validate {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 100%;
  right: -60px;
  background-color: #99E2D0;
  transition: transform 0.8s;
  -webkit-transition: transform 0.8s;
  -moz-transition: transform 0.8s;
  -ms-transition: transform 0.8s;
  -o-transition: transform 0.8s;
}
.menu--card--validate .fas {
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99E2D0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: transform 1s;
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
}
.menu--card:hover .menu--card--validate,
.menu--card:hover .menu--card--price {
  transform: translateX(-60px);
}
.menu--card:hover .menu--card--title {
  width: calc(75% - 60px);
}
.menu--card:hover .fas {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
.menu--card--1 {
  animation: appear 1s 0.1s;
  animation-fill-mode: forwards;
}
.menu--card--2 {
  animation: appear 1s 0.2s;
  animation-fill-mode: forwards;
}
.menu--card--3 {
  animation: appear 1s 0.3s;
  animation-fill-mode: forwards;
}
.menu--card--4 {
  animation: appear 1s 0.4s;
  animation-fill-mode: forwards;
}
.menu--card--5 {
  animation: appear 1s 0.5s;
  animation-fill-mode: forwards;
}
.menu--card--6 {
  animation: appear 1s 0.6s;
  animation-fill-mode: forwards;
}
.menu--card--7 {
  animation: appear 1s 0.7s;
  animation-fill-mode: forwards;
}
.menu--card--8 {
  animation: appear 1s 0.8s;
  animation-fill-mode: forwards;
}
.menu--card--9 {
  animation: appear 1s 0.9s;
  animation-fill-mode: forwards;
}
.menu--card--10 {
  animation: appear 1s 1s;
  animation-fill-mode: forwards;
}
.menu--heading {
  text-transform: uppercase;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  margin: 1.8rem 0.6rem 0.2rem 0.4rem;
  line-height: 1.7rem;
}
@media screen and (min-width: 1024px) {
  .menu--heading {
    align-self: center;
  }
}

/*# sourceMappingURL=style.css.map */
