/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a:visited, a:active, a:link {
  text-decoration: none;
  color: black;
}

.hide {
  visibility: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  background-color: rgba(46, 46, 46, 0.666);
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loading 4s;
  animation-fill-mode: forwards;
  visibility: visible;
}

.loader {
  position: absolute;
  top: calc(50% - 74px);
  left: calc(50% - 64px);
  width: 128px;
  height: 128px;
}

.inner {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

.inner.one {
  left: 0;
  top: 0;
  animation: rotate-primary 1s linear infinite;
  border-bottom: 8px solid #9356DC;
  -webkit-animation: rotate-primary 1s linear infinite;
}

.inner.two {
  right: 0;
  top: 0;
  animation: rotate-secondary 1s linear infinite;
  border-right: 8px solid #FF79DA;
  -webkit-animation: rotate-secondary 1s linear infinite;
}

.inner.three {
  right: 0;
  bottom: 0;
  animation: rotate-tertiary 1s linear infinite;
  border-top: 8px solid #99E2D0;
  -webkit-animation: rotate-tertiary 1s linear infinite;
}

@keyframes rotate-primary {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-secondary {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-tertiary {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
.loading {
  color: white;
  font-size: 24px;
  position: absolute;
  top: calc(50% + 94px);
  letter-spacing: 4px;
}

@keyframes loading {
  85% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
h2 {
  font-weight: 700;
  font-size: 1.5rem;
  align-self: flex-start;
  margin-left: 6vw;
}

.header {
  height: 63px;
  padding-top: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-size: 1.9rem;
  position: relative;
}
.header .fas {
  font-size: 1.2rem;
  line-height: 63px;
  position: absolute;
  top: 0;
  left: 1.4rem;
}

.localization {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.358) inset;
}
.localization--gps {
  position: relative;
  left: -1.2rem;
}

.reserve {
  width: 100vw;
  min-height: 200px;
  max-height: 287px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: stretch;
  background-color: #f6f6f6;
}
.reserve h2 {
  text-align: center;
  margin: 2rem auto 1rem auto;
}
.reserve p {
  font-weight: 300;
  font-size: 1.1rem;
  text-align: center;
  color: #777777;
}
.reserve--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 8px 0px #909090;
}
.reserve--btn--explorer {
  border-radius: 30px;
  width: 220px;
  height: 50px;
  background-image: linear-gradient(-5deg, #9356DC 30%, #9356DC 0%, #FF79DA);
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.photo {
  height: 270px;
  background-image: url(../Images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: 110%;
  background-position: center;
  position: relative;
}
.photo--header {
  height: 50px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  -webkit-border-radius: 40px 40px 0 0;
  -moz-border-radius: 40px 40px 0 0;
  -ms-border-radius: 40px 40px 0 0;
  -o-border-radius: 40px 40px 0 0;
  position: relative;
  bottom: 50px;
}

.menu {
  height: 1160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  background-color: #f6f6f6;
  padding: 0 3vw;
  margin-top: -50px;
}
.menu--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 8px 0px #909090;
}
.menu--btn--explorer {
  border-radius: 30px;
  width: 220px;
  height: 50px;
  background-image: linear-gradient(-5deg, #9356DC 30%, #9356DC 0%, #FF79DA);
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.menu--name > h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  margin-top: -2rem;
}
.menu--name--heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0rem;
  right: 1rem;
}
.menu--name--heart .fas {
  font-size: 1.5rem;
  -webkit-text-stroke: 0.1rem black;
  color: white;
}
.menu--name--heart .fas:hover {
  background: linear-gradient(180deg, #FF79DA, #9356DC) 0% 50%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 0 black;
  color: transparent;
  animation: gradient 0.6s 1 alternate;
  -webkit-animation: gradient 0.6s 1 alternate;
}
.menu--card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 8px 0px #d0d0d0;
  position: relative;
  justify-content: space-between;
  height: 70px;
  width: 94vw;
  margin-top: 0.9rem;
  background-color: white;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  overflow: hidden;
}
.menu--card--title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 70px);
  margin-left: 0.8rem;
  line-height: 1.5rem;
  font-weight: 300;
}
.menu--card--title--bold {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1rem;
  font-weight: 500;
}
.menu--card--title--light {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
}
.menu--card--price {
  align-self: flex-end;
  position: absolute;
  font-weight: 500;
  right: 1.2rem;
  margin-bottom: 0.7rem;
}
.menu--card--validate {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 100%;
  right: -60px;
  background-color: #99E2D0;
}
.menu--card--validate .fas {
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99E2D0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.menu--card:hover .menu--card--validate, .menu--card:hover .menu--card--price {
  animation: translate 1s;
  animation-fill-mode: forwards;
}
.menu--card:hover .menu--card--title {
  animation: resize 0.9s;
  animation-fill-mode: forwards;
}
.menu--card:hover .fas {
  animation: rotatecheck 1s;
}

@keyframes translate {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  to {
    transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    -moz-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -o-transform: translateX(-60px);
  }
}
@keyframes resize {
  from {
    width: 100%;
  }
  to {
    width: calc(100% - 130px);
  }
}
@keyframes rotatecheck {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
.heading {
  text-transform: uppercase;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  margin-top: 1.8rem;
  line-height: 1.6rem;
}

.functioning {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 440px;
  padding-top: 3rem;
  padding-bottom: 4.5rem;
}
.functioning--items {
  width: 85vw;
  max-width: 325px;
  height: 75px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 8px 0px #d0d0d0;
  border-radius: 1.5rem;
  font-size: 1rem;
  position: relative;
}
.functioning--items--icon {
  position: absolute;
  left: 2.5rem;
  color: #5d5d5d;
}
.functioning--items p {
  position: absolute;
  left: 5rem;
}
.functioning--items .number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 50%;
  left: -12px;
  color: white;
}
.functioning .functioning--items:hover {
  background-color: #f2eafb;
}
.functioning .functioning--items:hover .fas {
  color: #9356DC;
}

.restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  height: 1225px;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.restaurants :nth-child(3) img {
  position: absolute;
  bottom: -15px;
}

.restaurant-card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 8px 0px #d0d0d0;
  flex-direction: column;
  width: 90vw;
  max-width: 335px;
  height: 250px;
  overflow: hidden;
  position: relative;
  border-radius: 1rem 1rem 1rem 1rem;
}
.restaurant-card img {
  position: absolute;
  bottom: 75px;
}
.restaurant-card--new {
  position: absolute;
  display: inline;
  background-color: #99E2D0;
  padding: 0.4rem 0.7rem;
  right: 0.8rem;
  top: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #38c4a1;
  border-radius: 0.1rem;
}
.restaurant-card--title {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: 1rem 1rem;
  justify-content: space-between;
  position: absolute;
  top: 175px;
}
.restaurant-card--title--nameloca h3 {
  font-weight: 700;
  font-size: 1.1rem;
}
.restaurant-card--title--nameloca h4 {
  margin-top: 0.2rem;
  font-weight: 300;
  font-size: 1rem;
}
.restaurant-card--title--heart {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0rem;
  right: 1rem;
}
.restaurant-card--title--heart .fas {
  font-size: 1.5rem;
  -webkit-text-stroke: 0.1rem black;
  color: white;
}
.restaurant-card--title--heart .fas:hover {
  background: linear-gradient(180deg, #FF79DA, #9356DC) 0% 50%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 0 black;
  color: transparent;
  animation: gradient 0.6s 1 alternate;
  -webkit-animation: gradient 0.6s 1 alternate;
}

@keyframes gradient {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  40% {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }
  70% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
footer {
  background-color: #373737;
  height: 200px;
  color: white;
  padding: 1.5rem 7vw;
  line-height: 1.6rem;
}
footer .logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
}
footer .fas {
  font-size: 0.8rem;
  width: 1rem;
  margin-right: 0.5rem;
}
footer .contact {
  color: white;
}

/*# sourceMappingURL=style.css.map */
