.header {
    @include max {
        width: 1024px;
        margin: 0 auto;
    }

    height: 63px;
    padding-top: 0.4rem;
    @include flex;
    font-family: 'Shrikhand',
    cursive;
    font-size: 1.9rem;
    position: relative;
    text-align: center;

    .fas {
        font-size: 1.2rem;
        line-height: 63px;
        position: absolute;
        top: 0;
        left: 1.4rem;

    }
}