@keyframes loading {
    85% {
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes rotate-primary {
    0% {
        transform: rotateX(30deg) rotateY(-50deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(30deg) rotateY(-50deg) rotateZ(360deg);
    }
}

@keyframes rotate-secondary {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-tertiary {
    0% {
        transform: rotateX(30deg) rotateY(50deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(30deg) rotateY(50deg) rotateZ(360deg);
    }
}

@keyframes appear {
    from {
        transform: translateY(10px);
        opacity: 0;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}