.wrapper {
    background-color: #f6f6f6ec;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    @include flex;
    animation: loading 2s;
    animation-fill-mode: forwards;
    visibility: visible;
}

.loader {
    position: absolute;
    top: calc(50% - 74px);
    left: calc(50% - 64px);
    width: 128px;
    height: 128px;
}

.arc {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.arc.one {
    left: 0;
    top: 0;
    animation: rotate-primary 1s linear infinite;
    border-bottom: 8px solid $primary;
    -webkit-animation: rotate-primary 1s linear infinite;
}

.arc.two {
    right: 0;
    top: 0;
    animation: rotate-secondary 1s linear infinite;
    border-right: 8px solid $secondary;
    -webkit-animation: rotate-secondary 1s linear infinite;
}

.arc.three {
    right: 0;
    bottom: 0;
    animation: rotate-tertiary 1s linear infinite;
    border-top: 8px solid $tertiary;
    -webkit-animation: rotate-tertiary 1s linear infinite;
}

.loading {
    color: rgb(0, 0, 0);
    font-size: 24px;
    position: absolute;
    top: calc(50% + 94px);
    letter-spacing: .5rem;
}