@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin shadow($percent: 15%) {
    box-shadow: 0px 3px 20px -5px darken($grey, $percent);
}

@mixin functioning--itemshover {
    .functioning--items:hover{
        background-color: lighten($primary,35%);
        .fas{color: $primary;}
    }
}

@mixin heart {
    @include flex;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0rem;
            right: .1rem;
            .fas {
                opacity: 1;
                background-color: transparent;
                transform: scaleX(.9);
                font-size: 1.5rem;
                -webkit-text-stroke: .05rem black;
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-transform: scaleX(.9);
                -moz-transform: scaleX(.9);
                -ms-transform: scaleX(.9);
                -o-transform: scaleX(.9);
}
            .fas:hover {
                background: linear-gradient(180deg,#9356DC, #FF79DA) 0% 50%;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-stroke: 0 black;
                color: transparent;
                animation-fill-mode: forwards;
                animation: gradient .5s;
                -webkit-animation: gradient .5s;
}

}

@mixin tab{

    @media screen and (min-width: map-get($breakpoints, pad)){
        @content;
    }
}
@mixin tabpro{

    @media screen and (min-width: map-get($breakpoints, padpro)){
        @content;
    }
}
@mixin tabpro1{

    @media screen and (min-width: map-get($breakpoints, padpro1)){
        @content;
    }
}

@mixin max{

    @media screen and (min-width: 1024px){
        @content;
    }
}
@mixin mini{

    @media screen and (max-width: 374px){
        @content;
    }
}
